name: Cron
on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  cron:
    name: Run cron
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Execute
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: ${{ secrets.GIST_ID }}
        run: |
          go run main.go
